<div
  class="hero min-h-screen"
  style="background-image: url(https://logisber.com/contenido/subidas/2021/12/paises-menos-seguros-para-exportar-mercancias-logisber.jpg);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de paises</h1>
      <p class="mb-5">
        Esta aplicación te permite buscar información sobre diferentes países, incluyendo su nombre, capital, población y más. Puedes explorar los países por continente y obtener detalles específicos de cada uno.
        Además, puedes ver la bandera de cada país y acceder a enlaces útiles relacionados con ellos. La aplicación está diseñada para ser fácil de usar y proporciona una experiencia fluida al navegar por la información de los países.
        <br />
      </p>
      <button class="btn btn-primary" routerLink="/country">Empezar</button>
    </div>
  </div>
</div>
